body{
    counter-reset: none;
}

#contenedor{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 20px;
}

.contenedor-caja{
    width: 100px;
    height: 100px;
    border-color: black;
    border-style: inset;
    background-color: red;
    border-radius: 0px; /* Inicialmente sin bordes redondeados */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}