*{
    counter-reset: none;
}



.encabezado{
    padding: 10px 0;
}

.encabezado__logo{
    width: 150px; 
}

.encabezado__contender{
    font-size: 20px;
}

#separacion{
    background-color: rgb(0, 123, 255);
    height: 80px;
    padding: 20px;
    margin-bottom: 20px;
}

.cuerpo{
    padding: 20px 10px;
    margin-bottom: 20px;
}


.cuerpo__section1__noticias{
    background-color: beige;
    padding: 10px 10px;
    margin-bottom: 20px;   
}

.cuerpo__section1__noticias__encabezado{
    font-size: 20px;
}

.cuerpo__section1__lista{
    list-style-type: none;
}

.cuerpo__section1__publicidad{
    background-color: azure;
    font-size: 15px;
    text-align: justify;
    padding: 10px 10px; 
}

.cuerpo__section1__publicidad__encabezado{
    font-size: 20px;
}

.cuerpo__section2{
    padding: 10px 10px;

}

.cuerpo__section2__info1{
    padding: 10px 10px;
    margin-bottom: 20px;  
}

.cuerpo__section2__titulo{
    font-size: 35px;

}


.cuerpo__section2__info1__foto{
    width: 320px;
    float:left;
    padding-right: 10px; 
}

.cuerpo__section1__info1__texto{
    text-align: justify;
    font-size: 20px;

}

.cuerpo__section2__info2{
    padding: 10px 10px;
    margin-bottom: 20px;  
}

.cuerpo__section2__info2__foto{
    width: 320px;
    float:left;
    padding-right: 10px;
}

.cuerpo__section2__info2__texto{
    text-align: justify;
    font-size: 20px;
}

.cuerpo__section3{
    border: 3px solid aquamarine;
    padding: 10px 10px;
}

.cuerpo__seccion3__info1{
    padding: 5px 5px;
    margin-bottom: 10px;  
}

.cuerpo__seccion3__info1__titulo{
    background-color: rgb(0, 225, 255);
    font-size: 28px;
    padding: 10px 10px;
    margin-bottom: 5px;  
}

.cuerpo__seccion3__info1__texto{
    text-align: justify;
    font-size: 16px;
}

.cuerpo__seccion3__info2{
    padding: 5px 5px;
}

.cuerpo__seccion3__info2__titulo{
    background-color: rgb(0, 225, 255);
    font-size: 28px;
    padding: 10px 10px;
    margin-bottom: 5px;  
}

.cuerpo__seccion3__info2__texto{
    text-align: justify;
    font-size: 16px;
}

.pie{
    background-color: rgb(192, 222, 255);
    padding: 10px 15px;
    margin-bottom: 20px;  
}

.pie__contender1{
    padding: 10px 10px;
    margin-bottom: 20px;  

}

.pie__contender1__menu{
    border-right: 1px solid #0026fb;
    padding-right: 5px;
}

.pie__contender2{
    padding: 10px 10px;
    margin-bottom: 20px;  
}

