body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    font-family: Arial, sans-serif;
}

.square {
    position: relative;
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.square::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    background: linear-gradient(transparent, #1808ff, #99dbff);
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%) scale(1.2);
    animation: rotate 10s linear infinite;
    filter: blur(30px);
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(1.2);
    }
}

.login h2 {
    color: #fff;
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.inputBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.inputBox input {
    width: 90%;
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
    background: rgba(0, 0, 0, 0.507);
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.3s;
}


.inputBox input:focus {
    background: rgba(255, 255, 255, 0.166);
}

.inputBox input[type="submit"], .inputBox button {
    background: linear-gradient(90deg, #1808ff, #99dbff);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    border: none;
    padding: 15px;
}

.inputBox input[type="submit"]:hover, .inputBox button:hover {
    background: linear-gradient(90deg, #99dbff, #1808ff);
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.3s;
}

.links a:hover {
    color: #fff;
}

.welcome {
    text-align: center;
    color: #fff;
}

.actions button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(90deg, #1808ff, #99dbff);
    color: #fff;
}

.actions button:hover {
    background: linear-gradient(90deg, #99dbff, #1808ff);
}